@use "./variables" as *;
@use "./mixins.scss" as *;

.navigation__dropdown--button {
    display: none;
}

.mobile-navigation {
    transition: transform 0.4s ease;
    transform: translateX(-100%);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 60px;
    z-index: 20;
    background-color: $white;
    padding: 30px;
    display: none;
}

@media screen and (max-width: 1199.98px) {
    .menu {
        height: 60px;
        padding: 0 20px;

        .navigation {
            height: 60px;

            .navigation__dropdown--button {
                display: flex;
                padding: 0 20px;
                @include center();

                #navigation__dropdown-icon--open, #navigation__dropdown-icon--close {
                    height: 18px;
                    width: 18px;
                }
            }
        
            .navigation__btn {
                display: none;
            }
        }

        .logo {
            margin: auto 0;
            display: flex;
            align-items: center;
        }

        .logo a img, .logo a {
            height: 40px;
            width: 115px;
        }
    }

    .mobile-navigation {
        display: flex;

        .mobile-navigation__btn {
            display: inline;
            text-decoration: none;
            @include typo($dark-color, 600, 15px, normal, 0.3px, uppercase);
        }

        .mobile-navigation__links {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    .fixed-button {
        display: none;
    }
}