---
---

@use "./variables" as *;
@use "./mixins.scss" as *;
@use "./nav.scss" as *;
@use "./sections.scss" as *;
@use "./footer" as *;
@use "./nav-mobile" as *;
@use "./sections-mobile" as *;
@use "./footer-mobile" as *;

* {
    margin: 0;
    font-family: "Source Sans Pro";
    scroll-behavior: smooth;
    box-sizing: border-box;
}